<div class="pl-4 pr-4">
    <h1>Home</h1> 
    
    <p>
        <a target="_blank" href="https://www.linkedin.com/in/stefano-marchisio-sviluppatore-web-angular-javascript-aspnet-fullstack/">
            <span style="font-size: 22px;">Stefano Marchisio LinkedIn</span>
        </a> 
    </p>

    <p>
        Nel presente demo project sono presenti 2 pagine che utilizzano: CdkVirtualScrollViewport, cdkVirtualFor.  
    </p>
    <p>    
        In Page-1 i dati vengono letti tutti in una sola volta, la funzionalità di virtual scroll permetterà solo di visualizzare una porzione alla volta onde evitare di appesantire il DOM.
    </p>
    <p>     
        In Page-2 verrà anche implementata la funzionalità di "Infinite scroll" ovvero i dati verranno caricati un po alla volta man mano che si scrolla, oltre alla funzionalità di virtual scroll del punto precedente.
    </p>
    <p>   
        La funzionalità di "Infinite scroll" è facilmente ottenuta grazie alla potenza di CdkVirtualScrollViewport e di RxJs.        
    </p>
    <p>
        <img src="/assets/home1.png" />
    </p>   
    <p>
        <a target="_blank" href="https://github.com/mastefano64/angular-infinite-scroll">Vai al progetto suGitHub</a>
        &nbsp;-&nbsp;
        <a target="_blank" href="https://github.com/mastefano64/angular-infinite-scroll/blob/main/src/app/page1/page1.component.ts">Page-1 (page1.component.ts)</a>
        &nbsp;-&nbsp;
        <a target="_blank" href="https://github.com/mastefano64/angular-infinite-scroll/blob/main/src/app/page2/page2.component.ts">Page-2 (page2.component.ts)</a>
    </p>   
</div>
